[submodule "notdeft"]
	path = lisp/notdeft
	url = https://github.com/hasu/notdeft.git

[submodule "groovy-language-server"]
	path = lsp/groovy-language-server
	url = https://github.com/prominic/groovy-language-server.git
